body{
    background-color:black;
}

table{
    border:1px solid white;
    /*border-collapse:collapse;*/
}

tr, td {
    font-weight:bold;
    color:white;
    text-align:center;
    border:1px solid white;
    height:20px;
    width:20px;
}

[mine]{
    /*background-color:blue;*/
}

[clicked]{
    background-color:darkgrey;
}

.boom{
    background-color:red;
}

.flag{
    background-color:yellow;
}



.c1{ color:blue; }
.c2{ color:green; }
.c3{ color:red; }
.c4{ color:darkblue; }
.c5{ color:maroon; }
.c6{ color:turquoise; }
.c7{ color:white; }
.c8{ color:grey; }