body{
    background-color:black;
}

table{
    border:1px solid white;
    /*border-collapse:collapse;*/
}

tr, td {
    color:white;
    text-align:center;
    border:1px solid white;
    height:20px;
    width:20px;
}

[mine]{
    /*background-color:blue;*/
}

.boom{
    background-color:red;
}